* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
}

nav img {
  height: 3.2rem;
}

nav {
  background-color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  position: fixed;
  z-index: 200;
}
.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex-shrink: 1;
}
.search-input {
  width: 400px;
  height: 35px;
  padding: 0 1.2rem;
  border-radius: 50px;
  border: 2px solid rgb(207, 207, 207);
  outline: rgb(207, 207, 207);
}

.search-btn {
  height: 35px;
  margin-left: -25px;
  border: none;
  border: 2px solid rgb(207, 207, 207);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.search-img {
  padding: 5px;
  height: 30px;
}

.search-voice {
  margin-left: 10px;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 50%;
}

.voice {
  padding: 5px;
  height: 30px;
}

.right-nav {
  display: flex;
  gap: 15px;
}

.notification {
  position: relative;
}
.notifocation-number {
  position: absolute;
  top: 15px;
  right: 70px;
  width: 20px;
  height: 20px;
  background-color: rgb(200, 0, 0);
  border: none;
  border-radius: 50%;
  color: #fff;
  z-index: 100;
}

.notification:hover {
  cursor: pointer;
}

main {
  display: flex;
  gap: 3.6rem;
  /* grid-template-columns: 70px 1fr; */
}

aside {
  background-color: #fff;

  position: fixed;
  top: 66px;
  left: 0;
  bottom: 0;
  z-index: 999;
  /* margin-right: 2.6rem; */
  /* padding: 0 1.2rem; */
}

aside div {
  /* padding: 12px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  transition: all 0.7s;
}

aside div:hover {
  /* height: 100%; */
  background-color: #ced4da;
  cursor: pointer;
  /* padding: 0 12px; */
}
section {
  background-color: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 70px;
  gap: 16px;
  padding: 12px 24px;
  width: 100%;
  /* z-index: -100; */
  margin-left: 6.4rem;
}

.section-pictures {
  width: 100%;
  border-radius: 10px;
}

.section-article {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

h1 {
  color: #444;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-bottom: 12px;
}

.channe-img {
  border-radius: 50%;
  height: 50px;
}

p {
  font-size: 12px;
  color: #868e96;
}
aside img {
  height: 30px;
}

.video-info {
  position: relative;
  margin-bottom: 1.6rem;
}

.video-time {
  background-color: #000;
  color: #fff;
  height: 25px;
  /* width: 40px; */
  position: absolute;
  bottom: 150px;
  right: 10px;
  padding: 4px 8px;
  text-align: center;
  /* bottom: 10px;
  right: 10px; */
  /* display: inline-block; */
  /*  */
}
